#index-bg {
    background-image: url('images/upsidedown-layered-waves-haikei.svg'); 
    background-size:cover; 
    background-attachment: scroll;
}



#index-title-h1 {
    text-align: center; 
    color:rgb(139, 209, 241); 
    font-size:80px; 
    margin-top:20px;
}

.index-paragraph {
    background-color: rgb(50, 174, 223); 
    padding:10px; 
    font-size:20px; 
    font-family:Roboto; 
    border:3px rgb(0, 0, 0) solid; 
    border-radius:8px;
    margin-top:20px; margin-right:20px;
}

.reflection-bg {
    background-image: url('images/circle-scatter-haikei.svg');
    background-size:cover; 
    background-attachment: fixed;
}

.reflection-jumbotron {
    margin:40px;
    background-color:deepskyblue;
}