.index-paragraph {
    background-color: rgb(50, 174, 223); 
    padding:10px; 
    font-size:20px; 
    font-family:Roboto; 
    border:3px rgb(0, 0, 0) solid; 
    border-radius:8px;
    margin-top:20px; margin-right:20px;
}